@{
    /**/

    ViewBag.Title = "Index";
    var Id = Session["VenCod"];
}

<style>
    table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        border: 1px solid #ddd;
    }

    th, td {
        border: 2px;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }
</style>

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery-3.3.1.js"></script>
@*<script src="~/WebJs/Funciones.js"></script>*@

<body class="home-page">
    @*<div>

            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#actualizaCorreo">Actualizar Correo</button>
        </div>*@
    <div class="wrap-body">
        <div class="header">
            <div class="custom-banner">
                <img src="~/Image/LogoDnCamaron.jpg" style="width: 45%; height: 45%;" />
            </div>
        </div>

        <div id="actualizaCorreo" class="modal fade bs-example-modal-lg" tabindex="-    1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">×</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">Datos de Vendedor</h4>
                    </div>
                    <div class="modal-body">
                        <div class="x_content">
                            <br />
                            <form action="@Url.Action("Index" , "Index")" name='form-login' method="post" class="form-horizontal form-label-left input_mask">

                                <div class="form-group">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">Correo</label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                        <input type="email" id="txtCorreo" name="txtCorreo" required class="form-control col-md-7 col-xs-12">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">Contraseña</label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                        <input type="password" id="txtContrasena" name="txtContrasena" required maxlength="13" class="form-control col-md-7 col-xs-12">
                                    </div>
                                </div>
                                <div style="display:none;">
                                    <input type="text" id="txtVendCod" name="txtVendCod" value="@Id" />
                                </div>
                                <input type="submit" value="Actualizar" class="active btn btn-primary">
                                <button type="button" id="btnCerrarModal" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div style="display: none;">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" id="Id" class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>





        <section id="container">
            <div class="wrap-container">
                <section class="content-box boxstyle-1 box-1">
                    <div class="zerogrid">
                        <div class="row wrap-box">
                            <div class="col-1-3">
                                <div class="wrap-col">
                                    <p style="font-size: 1.9rem; font-weight: 300; letter-spacing: .19em; color: #fff; margin-bottom: .62em;">DON CAMARON</p>
                                    <p>
                                        @*<div class="uppercase">
                                            Es parte de las soluciones,
                                            <br>
                                            no de los problemas
                                        </div>*@
                                    </p>
                                </div>
                            </div>

                            <div class="col-1-3">
                                <div class="wrap-col">
                                    <div class="row">
                                        <p>
                                            @*DON CAMARON Nos hemos tomado como objetivo el escuchar y materializar en nuestros productos las sugerencias y necesidades del mercado para llegar al mejor resultado, y así, conquistar y fidelizar a nuestros clientes.<br>*@
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </section>
    </div>

</body>






